* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body,
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.bgcolor {
  background-color: #e0ebe8; }

/******HEADER SECTION*************/
header {
  width: 100%;
  height: 60rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#d2e2de, #e0ebe8), url(../img/headerimg.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-position: top; }

.main-nav {
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 200;
  background-color: #e0ebe8;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center; }
  .main-nav_list {
    font-weight: 600;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-nav_link {
  font-size: 2rem;
  color: #45b29a; }
  .main-nav_link:hover {
    color: #21564b;
    border-bottom: 2px solid #45b29a;
    transition: color 0.3s;
    cursor: pointer; }
  .main-nav_link:active, .main-nav_link:visited {
    border-bottom: 2px solid #45b29a; }

.welcome-section {
  width: 100%;
  padding: 20rem 0;
  color: #21564b;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .welcome-section_name {
    font-size: 5.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Pacifico", cursive, sans-serif;
    text-shadow: 2px 2px 4px #fff; }
  .welcome-section_occupation {
    font-size: 2.5rem; }

/****************ABOUT SECTION*****************/
.aboutme-section {
  padding-top: 10rem;
  text-align: center;
  background-color: #f7f7f7; }

.aboutme-title {
  font-size: 5.5rem;
  text-transform: capitalize;
  color: #1e836c;
  margin-bottom: 2rem;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.aboutme-description {
  font-size: 2rem;
  margin-bottom: 2rem; }

.aboutme-btn_download {
  border: none;
  background-color: #45b29a;
  padding: 1.3rem 2rem;
  border-radius: 2px;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer; }
  .aboutme-btn_download:focus {
    outline: none; }
  .aboutme-btn_download > i {
    margin-left: 1rem; }
  .aboutme-btn_download:hover {
    background: #f7f7f7;
    color: #45b29a;
    outline: 3px solid #45b29a;
    transition: all 0.3s ease-out; }

/****************PROJECT SECTION*****************/
.project-section {
  padding-top: 10rem;
  text-align: center;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center; }

.project-section_title {
  font-size: 4rem;
  text-transform: capitalize;
  color: #1e836c; }

.projects-grid {
  width: 100%;
  max-width: 128rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-gap: 4rem; }

.project-tile {
  background: #fff;
  border-radius: 2px;
  height: 40rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .project-tile:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease-in; }

.project-tile img {
  width: 100%;
  height: calc(100% - 5rem); }

.project-tile p {
  margin: 1rem 0;
  color: #21564b;
  font-size: 2rem;
  font-weight: 600; }

.btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background: #45b29a;
  border-radius: 2px;
  color: #fff; }

.btn > i {
  margin-left: 1rem;
  transition: transform 0.3s ease-out; }

.btn:hover {
  background: #fff;
  color: #45b29a;
  outline: 3px solid #45b29a;
  transition: background 0.3s ease-out; }

.btn:hover > i {
  transform: translateX(0.3rem); }

/******SKILLS SECTION*************/
.skill-section {
  padding-top: 10rem;
  padding-bottom: 5rem;
  text-align: center;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .skill-section_title {
    font-size: 4rem;
    text-transform: capitalize;
    color: #1e836c; }
  .skill-section_list {
    display: block;
    margin: 3rem 0 auto;
    padding: 0;
    max-width: 80rem; }
    .skill-section_list li {
      display: inline-block;
      margin: 7px;
      padding: 5px 10px;
      color: #45b29a;
      background: #f7f7f7;
      border: 2px solid;
      cursor: default;
      font-size: 2rem;
      text-transform: capitalize; }

/******CONTACT SECTION*************/
.contact-section {
  background: #1e836c;
  color: #fff;
  text-align: center;
  padding: 5rem 1.5rem;
  text-transform: capitalize; }
  .contact-section_title {
    font-size: 5rem; }

.contact-form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5rem 0; }

form input {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
  font-size: 1.5rem; }

form textarea {
  display: block;
  width: 100%;
  height: 15rem;
  resize: none;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
  font-size: 2rem; }

form button {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 9px 10px;
  border: none;
  font-size: 1.5rem; }

/**********footer************/
footer {
  background: #f7f7f7;
  color: #21564b;
  padding: 1rem 1.5rem; }

.container {
  display: flex; }

/*
footer > p {
  font-size: 2rem;
  padding: 3rem;
}

.contact-links {
  font-size: 2.5rem;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.contact-links a {
  color: #eee;
  margin: 0 3rem;
  transition: transform 0.3s ease-out;
}

.contact-links a:hover {
  cursor: pointer;
  transform: translateY(0.8rem);
  transition: transform 0.3s ease-out;
}

.contact-links a i {
  margin-right: 0.5rem;
}
*/
@media only screen and (max-width: 36rem) {
  .main-nav ul {
    width: 30rem;
    justify-content: space-between; }
  .main-nav__link {
    font-size: 1.8rem; }
  .about-img {
    height: 15rem; }
  .welcome-section {
    font-size: 3rem;
    font-weight: 600; }
    .welcome-section_header {
      font-size: 2.5rem; }
    .welcome-section_name {
      font-size: 4rem; }
  .aboutme-title,
  .project-section_title,
  .skill-section_title,
  .contact-section_title {
    font-size: 2.5rem; }
  .aboutme-description {
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  .about-btn_download {
    font-size: 1.7rem; }
  .projects-grid {
    max-width: 31rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); }
  .project-tile {
    height: 30rem; } }
