@media only screen and (max-width: 36rem) {
  .main-nav ul {
    width: 30rem;
    justify-content: space-between;
  }
  .main-nav__link {
    font-size: 1.8rem;
  }
  .welcome-section .welcome {
    font-size: 3rem;
    font-weight: 300;
  }
  .welcome-section .name {
    font-size: 4rem;
    font-weight: 300;
  }
  .welcome-section h3 {
    font-size: 3rem;
  }
  .about-img {
    height: 15rem;
  }
  .aboutme-title {
    font-size: 2.5rem;
  }

  .aboutme-description {
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .about-btn_download {
    font-size: 1.7rem;
  }
  .project-section_title {
    font-size: 2.5rem;
  }
  .projects-grid {
    max-width: 33rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  .project-tile {
    height: 30rem;
  }
}
