//COLORS
$color-green-one: #45b29a;
$color-green-two: #21564b;
$color-green-three: #1e836c;
$color-green-four: #e0ebe8;

$color-one: #f7f7f7;
$color-two: #fff;

//PADDING
$padding: 10rem 3rem 5rem 3rem;

.bgcolor {
  background-color: $color-green-four;
}

//SIZE
$size-primary: 1.5rem;
$size-secondary: 3.5rem;

//COLUMN TEMPLATE
$column-template: repeat(auto-fill, minmax(25rem, 1fr));
