/* @media only screen and (max-width: 46rem) {
    .main-nav ul {
       text-align: center;
    }
    .contact-links {
       flex-wrap: wrap;
    }
    .contact-links a {
       margin-bottom: 1rem;
    }
  }
   */

@media only screen and (max-width: 36rem) {
  .main-nav {
    width: 32rem;
  }
  .main-nav ul {
    width: 20rem;
  }
  .about__link {
    font-size: 2rem;
  }
  .main-nav__link {
    font-size: 1.7rem;
  }
}
