* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/*****************HEADER****************/
header {
  width: 100%;
  background: rgb(204, 38, 60);

  position: fixed;
}

.main-nav ul {
  list-style: none;
  text-align: right;
  margin-right: 1rem;
}

.main-nav ul li {
  display: inline-block;
  padding: 1.8rem;
}

.main-nav__link {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}

.main-nav ul li:hover {
  background: rgba(3, 3, 92, 0.658);
  cursor: pointer;
}

/***************ABOUT SECTION***************/
.about {
  background: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.about h1 {
  font-size: 5.5rem;
  font-weight: bold;
}

.about p {
  font-size: 2.5rem;
  margin-top: 2rem;
}

/*****************PROJECT SECTION*****************/
section#projects {
  background: #45567d;
  text-align: center;
  padding: 10rem 2rem;
}

section#projects h1 {
  font-size: 4rem;
  word-spacing: 1rem;
  border-bottom: 3px solid;
  display: inline-block;
}

.projects-grid {
  width: 100%;
  max-width: 128rem;
  margin: 5rem auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-gap: 4rem;
}

.project-tile {
  background: #444;
  border-radius: 2px;
  height: 40rem;
}

.project-tile img {
  width: 100%;
  height: calc(100% - 6.8rem);
  object-fit: cover;
}

.project-tile p {
  margin: 2rem 0;
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background: #444;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
}

.btn > i {
  margin-left: 1rem;
  transition: transform 0.3s ease-out;
}

.btn:hover {
  background: rgb(204, 38, 60);
  transition: background 0.3s ease-out;
}

.btn:hover > i {
  transform: translateX(0.3rem);
}

/******CONTACT SECTION*************/
section#contact {
  background: #303841;
  color: #eee;
  text-align: center;
  padding: 12.2rem 0;
  border-bottom: 3px solid rgb(204, 38, 60);
}

section#contact h2 {
  font-size: 6rem;
  font-weight: 700;
}

em p {
  font-size: 2rem;
  margin-top: 1rem;
}

.contact-links {
  font-size: 2.5rem;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.contact-links a {
  text-decoration: none;
  color: #eee;
  margin: 0 3rem;
  transition: transform 0.3s ease-out;
}

.contact-links a:hover {
  cursor: pointer;
  transform: translateY(0.8rem);
  transition: transform 0.3s ease-out;
}

.contact-links a i {
  margin-right: 0.5rem;
}

/**********footer************/
footer {
  background: #303841;
  color: #eee;
  text-align: center;
}

footer > p {
  font-size: 2rem;
  padding: 3rem;
}
