@media only screen and (max-width: 768px) {
  .main-nav__link {
    font-size: 1.8rem;
  }

  .welcome-section {
    font-size: 3rem;
    font-weight: 600;

    &_header {
      font-size: 2.5rem;
    }

    &_name {
      font-size: 4rem;
    }
  }

  .aboutme-title,
  .project-section_title,
  .skill-section_title,
  .contact-section_title {
    font-size: 2.5rem;
  }

  .aboutme-description {
    font-size: 1.8rem;
  }

  .about-btn_download {
    font-size: 1.7rem;
  }

  .projects-grid {
    max-width: 40rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  .project-tile {
    height: 40rem;
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .copyright,
  .top-btn {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .projects-grid {
    max-width: 31rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  .project-tile {
    height: 30rem;
  }
}
