/******HEADER SECTION*************/
header {
  width: 100%;
  height: 60rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(#d2e2de, $color-green-four),
    url(../img/headerimg.jpg);
  background-blend-mode: screen;
  background-size: cover;
  background-position: top;
}

.main-nav {
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 200;
  background-color: $color-green-four;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;

  &_list {
    font-weight: 600;
    width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.main-nav_link {
  font-size: 2rem;
  color: $color-green-one;
  text-transform: capitalize;

  &:hover {
    color: $color-green-two;
    border-bottom: 2px solid $color-green-one;
    transition: color 0.3s;
    cursor: pointer;
  }

  &:active,
  &:visited {
    border-bottom: 2px solid $color-green-one;
  }
}

.welcome-section {
  width: 100%;
  padding: 25rem 0;
  color: $color-green-two;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &_header,
  &_occupation {
    font-size: 2.5rem;
  }

  &_name {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Pacifico", cursive, sans-serif;
    text-shadow: 2px 2px 4px $color-two;
    letter-spacing: 2px;
  }

  &_occupation {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
