/****************PROJECT SECTION*****************/
.project-section {
  padding-top: $top-padding;
  text-align: center;
  background: $color-one;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section_title {
  font-size: 4rem;
  text-transform: capitalize;
  color: $color-green-three;
}

.projects-grid {
  width: 100%;
  max-width: 128rem;
  margin: 3rem auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-gap: 4rem;
}

.project-tile {
  background: $color-two;
  border-radius: 2px;
  height: 40rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s ease-in;
  }
}

.project-tile img {
  width: 100%;
  height: calc(100% - 5rem);
}

.project-tile p {
  margin: 1rem 0;
  color: $color-green-two;
  font-size: 2rem;
  font-weight: 600;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background: $color-green-one;
  border-radius: 2px;
  color: $color-two;
}

.btn > i {
  margin-left: 1rem;
  transition: transform 0.3s ease-out;
}

.btn:hover {
  background: $color-two;
  color: $color-green-one;
  outline: 3px solid $color-green-one;
  transition: background 0.3s ease-out;
}

.btn:hover > i {
  transform: translateX(0.3rem);
}
