/****************PROJECT SECTION*****************/
.project-section {
  padding: 10rem 3rem 0 3rem;
  background: $color-one;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-section_title {
  font-size: $size-secondary;
  text-transform: capitalize;
  color: $color-green-three;
}

.projects-grid {
  width: 100%;
  max-width: 128rem;
  margin: 3rem auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 4rem;
}

.project-tile {
  background: $color-green-four;
  border-radius: 2px;
  height: 20rem;
  padding: 0 2rem;
  box-shadow: $shadow-card;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &:hover {
    box-shadow: 0 4px 16px 4px rgba(17, 22, 26, 0.16),
      0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 16px 24px 0 rgba(17, 22, 26, 0.08);
    transition: box-shadow 0.3s ease-in-out;
  }

  &_title {
    // margin-top: 1rem;
    color: $color-green-two;
    font-size: 2rem;
    text-transform: capitalize;
  }

  &_descp {
    font-size: 1.5rem;
  }

  &_stack {
    // margin: 2.5rem 0;
    font-size: 1.5rem;
    font-weight: 100;
  }

  &_links {
    display: flex;
    // margin-top: 3rem;
    justify-content: space-evenly;

    a {
      font-size: 1.5rem;
      font-weight: 700;
      color: $color-green-one;
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.24);
    }
  }
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background: $color-green-one;
  border-radius: 2px;
  color: $color-two;
  box-shadow: $shadow-btn;
}

.btn > i {
  margin-left: 1rem;
  transition: transform 0.3s ease-out;
}

.btn:hover {
  background: $color-two;
  color: $color-green-one;
  outline: 3px solid $color-green-one;
  transition: background 0.3s ease-out;
}

.btn:hover > i {
  transform: translateX(0.3rem);
}
